# EDA

![]()

In [23]:
import warnings

warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from matplotlib.ticker import PercentFormatter
plt.rcParams.update({ "figure.figsize" : (8, 5),"axes.facecolor" : "white", "axes.edgecolor":  "black"})
plt.rcParams["figure.facecolor"]= "w"
pd.plotting.register_matplotlib_converters()
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [24]:

# as column 'condition' is truncated in the display, disable column truncation
pd.set_option('display.max_columns', None) 
pd.set_option('display.width', None) 
pd.set_option('display.max_colwidth', -1)

#### Client:
* Erin Robinson
* Socially responsible -> will buy cheap houses, renovate and sell with costs back and small profit.
<br>

#### Hypotheses: 
* there are cheaper houses/apartments in neighbourhoods with lower household income. 
--> Look at heatmap (household income) and check against zip code and data (price, grade, sqft_lot)
* Cheaper houses/apartments clustered in areas where people with a migration background are living (e.g. Seattle China Town).
--> check zip code and prices for Seattle, what are the outliers (Chinatown?)
* Areas that are more rural tend to have cheaper houses/apartments. 
--> check zip codes and house prices, sqft_lot
<br>

In [25]:
df = pd.read_csv('./data/King_County_House_prices_dataset.csv')

In [26]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21597.000,21597.000,21597.000,21597.000,21597.000,21597.000,21597.000,19221.000,21534.000,21597.000,21597.000,21597.000,21597.000,17755.000,21597.000,21597.000,21597.000,21597.000,21597.000
mean,4580474287.771,540296.574,3.373,2.116,2080.322,15099.409,1.494,0.008,0.234,3.410,7.658,1788.597,1971.000,83.637,98077.952,47.560,-122.214,1986.620,12758.284
std,2876735715.748,367368.140,0.926,0.769,918.106,41412.637,0.540,0.087,0.766,0.651,1.173,827.760,29.375,399.946,53.513,0.139,0.141,685.230,27274.442
min,1000102.000,78000.000,1.000,0.500,370.000,520.000,1.000,0.000,0.000,1.000,3.000,370.000,1900.000,0.000,98001.000,47.156,-122.519,399.000,651.000
25%,2123049175.000,322000.000,3.000,1.750,1430.000,5040.000,1.000,0.000,0.000,3.000,7.000,1190.000,1951.000,0.000,98033.000,47.471,-122.328,1490.000,5100.000
50%,3904930410.000,450000.000,3.000,2.250,1910.000,7618.000,1.500,0.000,0.000,3.000,7.000,1560.000,1975.000,0.000,98065.000,47.572,-122.231,1840.000,7620.000
75%,7308900490.000,645000.000,4.000,2.500,2550.000,10685.000,2.000,0.000,0.000,4.000,8.000,2210.000,1997.000,0.000,98118.000,47.678,-122.125,2360.000,10083.000
max,9900000190.000,7700000.000,33.000,8.000,13540.000,1651359.000,3.500,1.000,4.000,5.000,13.000,9410.000,2015.000,2015.000,98199.000,47.778,-121.315,6210.000,871200.000

In [27]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.000,3,1.000,1180,5650,1.000,NaN,0.000,3,7,1180,0.0,1955,0.000,98178,47.511,-122.257,1340,5650
1,6414100192,12/9/2014,538000.000,3,2.250,2570,7242,2.000,0.000,0.000,3,7,2170,400.0,1951,1991.000,98125,47.721,-122.319,1690,7639
2,5631500400,2/25/2015,180000.000,2,1.000,770,10000,1.000,0.000,0.000,3,6,770,0.0,1933,NaN,98028,47.738,-122.233,2720,8062
3,2487200875,12/9/2014,604000.000,4,3.000,1960,5000,1.000,0.000,0.000,5,7,1050,910.0,1965,0.000,98136,47.521,-122.393,1360,5000
4,1954400510,2/18/2015,510000.000,3,2.000,1680,8080,1.000,0.000,0.000,3,8,1680,0.0,1987,0.000,98074,47.617,-122.045,1800,7503

In [28]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [30]:
# check how many duplicated rows exist in the data frame
df.duplicated().value_counts()
# no duplicates

False    21597
dtype: int64

In [31]:
df.dtypes

id               int64
date             object
price            float64
bedrooms         int64
bathrooms        float64
sqft_living      int64
sqft_lot         int64
floors           float64
waterfront       float64
view             float64
condition        int64
grade            int64
sqft_above       int64
sqft_basement    object
yr_built         int64
yr_renovated     float64
zipcode          int64
lat              float64
long             float64
sqft_living15    int64
sqft_lot15       int64
dtype: object

In [32]:
# Drop the ID column:
df = df.drop('id', axis=1)

In [33]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,10/13/2014,221900.000,3,1.000,1180,5650,1.000,NaN,0.000,3,7,1180,0.0,1955,0.000,98178,47.511,-122.257,1340,5650
1,12/9/2014,538000.000,3,2.250,2570,7242,2.000,0.000,0.000,3,7,2170,400.0,1951,1991.000,98125,47.721,-122.319,1690,7639
2,2/25/2015,180000.000,2,1.000,770,10000,1.000,0.000,0.000,3,6,770,0.0,1933,NaN,98028,47.738,-122.233,2720,8062
3,12/9/2014,604000.000,4,3.000,1960,5000,1.000,0.000,0.000,5,7,1050,910.0,1965,0.000,98136,47.521,-122.393,1360,5000
4,2/18/2015,510000.000,3,2.000,1680,8080,1.000,0.000,0.000,3,8,1680,0.0,1987,0.000,98074,47.617,-122.045,1800,7503

In [34]:
df[['price', 'zipcode', 'grade']].head(10)
# grade 11 better than grade 7 if you look at prices

        price  zipcode  grade
0 221900.000   98178    7
1 538000.000   98125    7
2 180000.000   98028    6
3 604000.000   98136    7
4 510000.000   98074    8
5 1230000.000  98053    11
6 257500.000   98003    7
7 291850.000   98198    7
8 229500.000   98146    7
9 323000.000   98038    7

In [35]:
df['grade'].unique()
# grades range from 3 (low) to 13 (high)

array([ 7,  6,  8, 11,  9,  5, 10, 12,  4,  3, 13])

In [36]:
df.groupby('grade').describe()

         price                                                              \
         count        mean         std         min         25%         50%
grade
3     1.000    262000.000  NaN         262000.000  262000.000  262000.000
4     27.000   212001.852  97294.498   80000.000   142500.000  200000.000
5     242.000  248523.971  118100.280  78000.000   175000.000  228700.000
6     2038.000 301916.571  122952.248  82000.000   215037.500  275276.500
7     8974.000 402594.573  155728.547  90000.000   285000.000  375000.000
8     6065.000 542986.800  217627.956  140000.000  390000.000  510000.000
9     2615.000 773738.222  316522.125  230000.000  571500.000  720000.000
10    1134.000 1072347.467 484050.810  316000.000  768087.500  914327.000
11    399.000  1497792.378 705127.364  420000.000  1040000.000 1280000.000
12    89.000   2202528.090 1028718.069 835000.000  1500000.000 1820000.000
13    13.000   3710769.231 1859545.023 1780000.000 2420000.000 2980000.000

                              bedrooms                                      \
              75%         max    count  mean   std   min   25%   50%   75%
grade
3     262000.000  262000.000  1.000    1.000 NaN   1.000 1.000 1.000 1.000
4     273500.000  435000.000  27.000   1.593 0.572 1.000 1.000 2.000 2.000
5     295750.000  795000.000  242.000  2.388 0.997 1.000 2.000 2.000 3.000
6     366837.500  1200000.000 2038.000 2.686 0.832 1.000 2.000 3.000 3.000
7     485000.000  2050000.000 8974.000 3.258 0.909 1.000 3.000 3.000 4.000
8     640000.000  3070000.000 6065.000 3.482 0.842 1.000 3.000 3.000 4.000
9     880000.000  2700000.000 2615.000 3.773 0.773 1.000 3.000 4.000 4.000
10    1250000.000 3600000.000 1134.000 3.907 0.787 1.000 3.000 4.000 4.000
11    1700000.000 7060000.000 399.000  4.160 0.798 2.000 4.000 4.000 5.000
12    2700000.000 5350000.000 89.000   4.270 0.902 2.000 4.000 4.000 5.000
13    3800000.000 7700000.000 13.000   4.846 0.899 3.000 4.000 5.000 5.000

             bathrooms                                           sqft_living  \
         max     count  mean   std   min   25%   50%   75%   max       count
grade
3     1.000  1.000     0.750 NaN   0.750 0.750 0.750 0.750 0.750 1.000
4     3.000  27.000    0.907 0.210 0.750 0.750 1.000 1.000 1.750 27.000
5     6.000  242.000   1.114 0.339 0.500 1.000 1.000 1.000 2.750 242.000
6     7.000  2038.000  1.243 0.426 0.500 1.000 1.000 1.500 3.750 2038.000
7     33.000 8974.000  1.830 0.615 0.750 1.500 1.750 2.250 7.500 8974.000
8     9.000  6065.000  2.349 0.526 0.500 2.000 2.500 2.500 6.000 6065.000
9     10.000 2615.000  2.664 0.501 1.000 2.500 2.500 2.750 5.250 2615.000
10    8.000  1134.000  3.006 0.640 1.500 2.500 2.750 3.500 5.500 1134.000
11    9.000  399.000   3.502 0.802 1.250 3.000 3.500 4.000 6.750 399.000
12    8.000  89.000    4.025 1.088 2.500 3.250 3.750 4.500 8.000 89.000
13    6.000  13.000    5.096 1.622 2.500 4.000 5.000 5.750 8.000 13.000

                                                                       \
          mean      std      min      25%      50%      75%       max
grade
3     520.000  NaN      520.000  520.000  520.000  520.000  520.000
4     680.741  224.721  410.000  525.000  700.000  765.000  1470.000
5     983.326  359.772  370.000  720.000  905.000  1167.500 2040.000
6     1191.561 396.783  390.000  900.000  1120.000 1397.500 3900.000
7     1689.515 509.939  550.000  1320.000 1630.000 1990.000 4480.000
8     2184.804 595.964  750.000  1760.000 2150.000 2550.000 5370.000
9     2868.140 664.151  860.000  2440.000 2820.000 3240.000 6900.000
10    3520.300 756.915  1180.000 3020.000 3450.000 3930.000 6630.000
11    4395.449 986.219  2370.000 3750.000 4260.000 4960.000 10040.000
12    5479.022 1536.203 3690.000 4460.000 5000.000 6380.000 13540.000
13    7483.077 2097.695 4500.000 6330.000 7100.000 8670.000 12050.000

      sqft_lot                                                               \
         count      mean        std       min       25%       50%       75%
grade
3     1.000    12981.000 NaN        12981.000 12981.000 12981.000 12981.000
4     27.000   15614.778 15212.220  1500.000  5145.000  8636.000  18342.000
5     242.000  24019.909 88167.786  1801.000  5244.750  7175.000  12133.500
6     2038.000 12646.954 44869.669  835.000   5160.000  7196.000  9201.750
7     8974.000 11769.877 28974.253  520.000   5000.000  7410.000  9616.500
8     6065.000 13514.009 35905.833  600.000   4400.000  7266.000  10375.000
9     2615.000 20638.515 48023.253  635.000   5500.000  8160.000  13928.000
10    1134.000 28191.063 63745.516  873.000   8015.250  11245.000 21061.000
11    399.000  38372.789 90125.135  609.000   10814.500 15467.000 26654.000
12    89.000   54819.213 109671.862 3452.000  16481.000 25714.000 40097.000
13    13.000   28204.769 15063.533  7500.000  18200.000 27600.000 35069.000

                    floors                                            \
              max    count  mean   std   min   25%   50%   75%   max
grade
3     12981.000   1.000    1.000 NaN   1.000 1.000 1.000 1.000 1.000
4     55764.000   27.000   1.037 0.133 1.000 1.000 1.000 1.000 1.500
5     1164794.000 242.000  1.087 0.200 1.000 1.000 1.000 1.000 2.000
6     1651359.000 2038.000 1.109 0.244 1.000 1.000 1.000 1.000 2.500
7     843309.000  8974.000 1.297 0.452 1.000 1.000 1.000 1.500 3.000
8     1074218.000 6065.000 1.668 0.585 1.000 1.000 2.000 2.000 3.500
9     715690.000  2615.000 1.849 0.441 1.000 2.000 2.000 2.000 3.000
10    1024068.000 1134.000 1.893 0.386 1.000 2.000 2.000 2.000 3.000
11    881654.000  399.000  1.961 0.377 1.000 2.000 2.000 2.000 3.000
12    920423.000  89.000   1.949 0.446 1.000 2.000 2.000 2.000 3.500
13    64033.000   13.000   1.962 0.477 1.000 2.000 2.000 2.000 2.500

      waterfront                                               view        \
           count  mean   std   min   25%   50%   75%   max    count  mean
grade
3     1.000      0.000 NaN   0.000 0.000 0.000 0.000 0.000 1.000    0.000
4     25.000     0.000 0.000 0.000 0.000 0.000 0.000 0.000 27.000   0.148
5     212.000    0.019 0.136 0.000 0.000 0.000 0.000 1.000 242.000  0.136
6     1810.000   0.006 0.074 0.000 0.000 0.000 0.000 1.000 2031.000 0.093
7     7974.000   0.003 0.051 0.000 0.000 0.000 0.000 1.000 8948.000 0.100
8     5409.000   0.006 0.077 0.000 0.000 0.000 0.000 1.000 6053.000 0.247
9     2320.000   0.009 0.097 0.000 0.000 0.000 0.000 1.000 2604.000 0.429
10    1018.000   0.028 0.164 0.000 0.000 0.000 0.000 1.000 1130.000 0.650
11    357.000    0.053 0.225 0.000 0.000 0.000 0.000 1.000 397.000  1.020
12    82.000     0.122 0.329 0.000 0.000 0.000 0.000 1.000 88.000   1.614
13    13.000     0.000 0.000 0.000 0.000 0.000 0.000 0.000 13.000   1.846

                                          condition                          \
        std   min   25%   50%   75%   max     count  mean   std   min   25%
grade
3     NaN   0.000 0.000 0.000 0.000 0.000 1.000     5.000 NaN   5.000 5.000
4     0.456 0.000 0.000 0.000 0.000 2.000 27.000    3.148 0.818 1.000 3.000
5     0.626 0.000 0.000 0.000 0.000 4.000 242.000   3.492 0.939 1.000 3.000
6     0.488 0.000 0.000 0.000 0.000 4.000 2038.000  3.540 0.763 1.000 3.000
7     0.483 0.000 0.000 0.000 0.000 4.000 8974.000  3.491 0.676 1.000 3.000
8     0.765 0.000 0.000 0.000 0.000 4.000 6065.000  3.356 0.603 1.000 3.000
9     1.012 0.000 0.000 0.000 0.000 4.000 2615.000  3.266 0.542 2.000 3.000
10    1.240 0.000 0.000 0.000 0.000 4.000 1134.000  3.233 0.529 2.000 3.000
11    1.409 0.000 0.000 0.000 2.000 4.000 399.000   3.195 0.461 3.000 3.000
12    1.698 0.000 0.000 1.500 3.000 4.000 89.000    3.213 0.488 3.000 3.000
13    1.676 0.000 0.000 2.000 3.000 4.000 13.000    3.154 0.376 3.000 3.000

                        sqft_above                                      \
        50%   75%   max      count     mean      std      min      25%
grade
3     5.000 5.000 5.000 1.000      520.000  NaN      520.000  520.000
4     3.000 4.000 4.000 27.000     673.333  225.644  410.000  525.000
5     3.000 4.000 5.000 242.000    944.607  342.523  370.000  700.000
6     3.000 4.000 5.000 2038.000   1068.648 321.766  390.000  840.000
7     3.000 4.000 5.000 8974.000   1408.425 438.905  550.000  1100.000
8     3.000 4.000 5.000 6065.000   1867.310 556.843  630.000  1440.000
9     3.000 3.000 5.000 2615.000   2554.395 639.861  720.000  2120.000
10    3.000 3.000 5.000 1134.000   3112.086 724.031  780.000  2600.000
11    3.000 3.000 5.000 399.000    3853.183 908.570  1910.000 3270.000
12    3.000 3.000 5.000 89.000     4647.494 1277.792 2090.000 3880.000
13    3.000 3.000 4.000 13.000     6060.769 1519.366 4320.000 4900.000

                                 yr_built                                    \
           50%      75%      max    count     mean    std      min      25%
grade
3     520.000  520.000  520.000  1.000    1920.000 NaN    1920.000 1920.000
4     660.000  765.000  1470.000 27.000   1936.259 15.866 1900.000 1925.000
5     860.000  1080.000 2040.000 242.000  1935.455 19.013 1900.000 1922.000
6     1010.000 1220.000 3460.000 2038.000 1942.471 20.969 1900.000 1926.000
7     1320.000 1620.000 4190.000 8974.000 1963.615 26.801 1900.000 1949.000
8     1780.000 2220.000 5370.000 6065.000 1980.394 26.803 1900.000 1966.000
9     2570.000 2990.000 5450.000 2615.000 1988.419 25.038 1900.000 1979.000
10    3140.000 3570.000 5530.000 1134.000 1989.570 22.364 1900.000 1984.250
11    3820.000 4350.000 8020.000 399.000  1992.145 19.912 1906.000 1989.000
12    4510.000 5330.000 9410.000 89.000   1992.404 21.107 1902.000 1991.000
13    6110.000 6290.000 8860.000 13.000   1976.615 33.493 1910.000 1965.000

                                 yr_renovated                              \
           50%      75%      max        count    mean     std   min   25%
grade
3     1920.000 1920.000 1920.000 1.000        0.000   NaN     0.000 0.000
4     1942.000 1947.500 1967.000 18.000       110.000 466.690 0.000 0.000
5     1939.000 1947.000 2006.000 190.000      42.058  287.558 0.000 0.000
6     1944.000 1954.000 2015.000 1681.000     86.265  405.020 0.000 0.000
7     1963.000 1983.000 2014.000 7362.000     74.707  378.574 0.000 0.000
8     1985.000 2004.000 2015.000 4985.000     88.237  410.695 0.000 0.000
9     1996.000 2006.000 2015.000 2176.000     102.088 440.433 0.000 0.000
10    1994.000 2005.000 2015.000 933.000      87.967  410.531 0.000 0.000
11    1997.000 2003.000 2015.000 326.000      79.598  391.179 0.000 0.000
12    1998.000 2003.000 2010.000 72.000       83.111  401.390 0.000 0.000
13    1996.000 2001.000 2004.000 11.000       362.636 806.822 0.000 0.000

                            zipcode                                       \
        50%   75%      max    count      mean    std       min       25%
grade
3     0.000 0.000 0.000    1.000    98022.000 NaN    98022.000 98022.000
4     0.000 0.000 1980.000 27.000   98068.630 55.318 98010.000 98027.000
5     0.000 0.000 2014.000 242.000  98082.694 56.876 98001.000 98039.000
6     0.000 0.000 2014.000 2038.000 98102.625 54.970 98001.000 98055.000
7     0.000 0.000 2015.000 8974.000 98082.413 55.099 98001.000 98034.000
8     0.000 0.000 2015.000 6065.000 98073.446 50.937 98001.000 98030.000
9     0.000 0.000 2015.000 2615.000 98065.301 47.015 98001.000 98029.000
10    0.000 0.000 2015.000 1134.000 98061.301 46.403 98001.000 98029.000
11    0.000 0.000 2010.000 399.000  98055.256 44.135 98003.000 98027.000
12    0.000 0.000 2009.000 89.000   98045.258 48.682 98004.000 98006.000
13    0.000 0.000 2002.000 13.000   98086.154 73.939 98004.000 98033.000

                                         lat                             \
            50%       75%       max    count   mean   std    min    25%
grade
3     98022.000 98022.000 98022.000 1.000    47.208 NaN   47.208 47.208
4     98055.000 98106.000 98198.000 27.000   47.496 0.108 47.296 47.415
5     98059.000 98126.000 98199.000 242.000  47.499 0.124 47.204 47.456
6     98117.000 98146.000 98199.000 2038.000 47.533 0.133 47.195 47.474
7     98074.000 98122.000 98199.000 8974.000 47.553 0.148 47.156 47.436
8     98059.000 98115.000 98199.000 6065.000 47.566 0.139 47.184 47.476
9     98056.000 98102.000 98199.000 2615.000 47.576 0.124 47.159 47.523
10    98053.000 98075.000 98199.000 1134.000 47.591 0.103 47.179 47.552
11    98052.000 98075.000 98199.000 399.000  47.600 0.086 47.291 47.549
12    98033.000 98072.000 98177.000 89.000   47.597 0.080 47.307 47.551
13    98059.000 98177.000 98199.000 13.000   47.634 0.068 47.530 47.623

                               long                                            \
         50%    75%    max    count     mean   std      min      25%      50%
grade
3     47.208 47.208 47.208 1.000    -121.995 NaN   -121.995 -121.995 -121.995
4     47.498 47.535 47.699 27.000   -122.165 0.166 -122.391 -122.331 -122.199
5     47.497 47.547 47.774 242.000  -122.199 0.195 -122.512 -122.330 -122.232
6     47.525 47.650 47.778 2038.000 -122.262 0.132 -122.511 -122.351 -122.301
7     47.565 47.686 47.778 8974.000 -122.233 0.134 -122.511 -122.333 -122.277
8     47.588 47.677 47.778 6065.000 -122.208 0.141 -122.519 -122.333 -122.212
9     47.597 47.665 47.776 2615.000 -122.166 0.144 -122.515 -122.282 -122.167
10    47.598 47.651 47.775 1134.000 -122.152 0.132 -122.462 -122.231 -122.142
11    47.602 47.650 47.771 399.000  -122.151 0.122 -122.416 -122.224 -122.144
12    47.592 47.641 47.761 89.000   -122.145 0.125 -122.378 -122.219 -122.148
13    47.630 47.649 47.733 13.000   -122.263 0.103 -122.408 -122.362 -122.240

                        sqft_living15                                      \
           75%      max         count     mean      std      min      25%
grade
3     -121.995 -121.995 1.000         1340.000 NaN      1340.000 1340.000
4     -122.056 -121.854 27.000        1486.667 513.068  850.000  1150.000
5     -122.168 -121.315 242.000       1380.570 381.644  700.000  1100.000
6     -122.216 -121.315 2038.000      1389.247 363.554  620.000  1140.000
7     -122.165 -121.319 8974.000      1679.280 383.144  399.000  1420.000
8     -122.113 -121.405 6065.000      2067.076 477.809  460.000  1730.000
9     -122.057 -121.402 2615.000      2613.460 604.632  720.000  2290.000
10    -122.050 -121.721 1134.000      3036.892 674.884  1180.000 2650.000
11    -122.070 -121.778 399.000       3532.110 759.379  1280.000 3080.000
12    -122.103 -121.756 89.000        3955.989 884.094  1490.000 3290.000
13    -122.201 -122.112 13.000        4005.385 1210.775 2200.000 3130.000

                                 sqft_lot15                                \
           50%      75%      max      count      mean       std       min
grade
3     1340.000 1340.000 1340.000 1.000      12233.000 NaN       12233.000
4     1420.000 1645.000 3020.000 27.000     12896.630 10545.143 4120.000
5     1335.000 1587.500 2961.000 242.000    16122.434 35802.934 1260.000
6     1320.000 1560.000 3130.000 2038.000   11020.925 25040.768 1198.000
7     1620.000 1890.000 4090.000 8974.000   10615.996 21893.429 659.000
8     2060.000 2380.000 4480.000 6065.000   11371.257 22333.759 788.000
9     2650.000 2990.000 5500.000 2615.000   17401.708 34493.026 651.000
10    3080.000 3450.000 5790.000 1134.000   21334.663 36960.249 967.000
11    3560.000 4010.000 5790.000 399.000    27743.160 67538.245 1229.000
12    4060.000 4630.000 6210.000 89.000     39134.079 59972.009 2199.000
13    3940.000 4760.000 6110.000 13.000     25529.462 21375.740 6477.000


            25%       50%       75%        max
grade
3     12233.000 12233.000 12233.000 12233.000
4     6480.000  8990.000  14375.500 43301.000
5     5737.500  7432.000  11323.500 392040.000
6     5200.000  7200.000  8871.500  425581.000
7     5000.000  7499.000  9339.750  380279.000
8     4556.000  7308.000  9900.000  438213.000
9     5558.000  8160.000  12677.000 434728.000
10    7859.000  10918.500 18697.250 560617.000
11    10379.500 14486.000 22060.500 871200.000
12    14571.000 19602.000 35326.000 411962.000
13    9196.000  20570.000 35200.000 81021.000

In [37]:
df.groupby('grade').count()

# why is the mean bigger in grade 3 than grade 4 and grade 5?

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
grade,,,,,,,,,,,,,,,,,,,
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,27,27,27,27,27,27,27,25,27,27,27,27,27,18,27,27,27,27,27
5,242,242,242,242,242,242,242,212,242,242,242,242,242,190,242,242,242,242,242
6,2038,2038,2038,2038,2038,2038,2038,1810,2031,2038,2038,2038,2038,1681,2038,2038,2038,2038,2038
7,8974,8974,8974,8974,8974,8974,8974,7974,8948,8974,8974,8974,8974,7362,8974,8974,8974,8974,8974
8,6065,6065,6065,6065,6065,6065,6065,5409,6053,6065,6065,6065,6065,4985,6065,6065,6065,6065,6065
9,2615,2615,2615,2615,2615,2615,2615,2320,2604,2615,2615,2615,2615,2176,2615,2615,2615,2615,2615
10,1134,1134,1134,1134,1134,1134,1134,1018,1130,1134,1134,1134,1134,933,1134,1134,1134,1134,1134
11,399,399,399,399,399,399,399,357,397,399,399,399,399,326,399,399,399,399,399
12,89,89,89,89,89,89,89,82,88,89,89,89,89,72,89,89,89,89,89
13,13,13,13,13,13,13,13,13,13,13,13,13,13,11,13,13,13,13,13

In [38]:
# what is mean price per grade?
df.groupby('grade').mean()['price']

grade
3    262000.000
4    212001.852
5    248523.971
6    301916.571
7    402594.573
8    542986.800
9    773738.222
10   1072347.467
11   1497792.378
12   2202528.090
13   3710769.231
Name: price, dtype: float64